<%- include ("../partials/header.ejs") %>
<body>
  <%- req.toastr.render() %>
    <div class="container">
      <h1 class="title">
        Cadastro de categorias
    </h1>
    <p class="subtitle">
        Preencha o campo abaixo para cadastrar uma <strong>nova categoria</strong>!
    </p>
      <div class="row">
        <form class="col s12" method="POST" action="/categories/save">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Digite uma categoria" name="nomeCategoria" id="nomeCategoria" type="text" class="validate">
              <label for="nomeCategoria">Nome da Categoria:</label>
            </div>
          </div>
          <div class="row">
              <div class="col 12">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons right">Cadastrar categoria</i>
                  </button>
              </div>
          </div>
        
        </form>
      </div>
    </div>
        
</body>

</html>