<%- include ("../partials/header.ejs") %>

<body>
    <div class="container">
        <h1 class="title">
            Painel
        </h1>
        <div class="row">
                <div class="col s12 m4">
                    <div class="card horizontal">
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>Adicionar uma nova categoria</p>
                        </div>
                        <div class="card-action">
                          <a class="teal-text" href="/categories/create">Clique aqui</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card horizontal">
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>Listagem das categorias</p>
                        </div>
                        <div class="card-action">
                          <a class="teal-text" href="/admin/categories">Clique aqui</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card horizontal">
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>Adicionar uma novo livro</p>
                        </div>
                        <div class="card-action">
                          <a class="teal-text" href="#">Clique aqui</a>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
</body>