<%- include ("partials/header.ejs") %>

    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Diretório de Livros
                </h1>
                <p class="subtitle">
                    Veja as opções cadastradas no <strong>Diretório de Livros</strong>!
                </p>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img class="img-book" src="https://altabooks.com.br/wp-content/uploads/2021/07/71JN83PkyDL.jpg"
                                    alt="Placeholder image">
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img class="img-book" src="https://altabooks.com.br/wp-content/uploads/2021/07/71JN83PkyDL.jpg"
                                    alt="Placeholder image">
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img class="img-book" src="https://altabooks.com.br/wp-content/uploads/2021/07/71JN83PkyDL.jpg"
                                    alt="Placeholder image">
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </body>

    </html>